@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .card-3d-container {
    perspective: 1000px;
  }
  .card-3d {
    transition: transform 0.1s;
    transform-style: preserve-3d;
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .chart-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    max-height: 300px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f5f2eb;
}
::-webkit-scrollbar-thumb {
  background: #1c2321;
  border-radius: 4px;
}
